/* * {
    outline: 2px solid red;
} */

body {
    font-family: "Roboto", sans-serif;
    margin-top: 40px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    margin-bottom: 105px;
}

.wrap {
    width: 1110px;
    margin: 0 auto;
}

.logo {
    float: left;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #555252;
    line-height: 32px;
}

.logo::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

.menu {
    float: right;
    list-style: none;
    margin: 6px 0px 0px 0px;
    padding: 0;
}

.menu-item {
    float: left;
    margin-right: 30px;
}

.menu-item:last-child {
    margin-right: 0px;
}

.menu-item a {
    text-decoration: none;
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    font-weight: 700;
    color: black;
    vertical-align: middle;
    line-height: 0.786
}

.menu-item a:hover {
    color: rgb(26, 188, 156);
}

.h2 {
    font-size: 48px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #515151;
    margin: 0px 0px 90px 0px;
}

.h2::after {
    content: "";
    display: table;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 30px;
}

.products-name {
    float: left;
    margin: 0px;
    width: 200px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 5px 0px 0px 15px;
    font-weight: 900;
}

.products-price {
    float: right;
    margin: 0px;
    width: 55px;
    height: 40px;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #8c8c8c;
    font-weight: 900;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
}

.products-price::before {
    content: "$";
}

.products-item {
    height: 323px;
    width: 255px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.products-item:nth-child(4n) {
    margin-right: 0px;
}

.products-item:nth-child(4n+5) {
    margin-bottom: 105px;
}

.products {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.products-item img {
    float: left;
}

.products-item:hover .products-name {
    background-color: #1abc9c;
}

.products-item:hover .products-price {
    background-color: #7fd9c7;
}

.height {
    margin-bottom: 80px;
}

.latestnews {
    margin: 0px;
    list-style: none;
    padding: 0px;
    margin-bottom: 80px;
}

.latestnews-text {
    margin: 0px;
    font-size: 18px;
    line-height: 26px;
    float: left;
    font-weight: 600;
    font-family: "OpenSans", sans-serif;
    color: #555252;
    margin-bottom: 24px;
}

.latestnews-text::after {
    content: "";
    display: table;
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    margin-top: 11px;
}

.img {
    margin-bottom: 12px;
    float: left;
}

.latestnews-item {
    float: left;
    margin-right: 30px;
    width: 350px;
}

.latestnews-item:last-of-type {
    margin-right: 0px;
}

.latestnews-page {
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555252;
    margin-bottom: 14px;
}

.button {
    background-color: #4ec6ab;
    color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
    border-radius: 3px;
    border-style: none;
    font-size: 16px;
    line-height: 26px;
    width: 160px;
    height: 50px;
    box-sizing: border-box;
    text-transform: capitalize;
    font-weight: 300;
}